<h2><%= @user.name %></h2>
<table class="table">
  <tbody>
    <% @user.workdays.each do |wd| %>
      <tr>
        <td><%= l wd.date, :format => :short %></td>
        <td><%= wd.hours.reject{|h| h['end'].nil? || h['start'].nil? || h['type'] == 'scheduled'}.map{|h| h['end'] - h['start'] }.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <strong>Total Hours:</strong> <%= number_with_precision @user.workdays.map{|wd| wd.hours.reject{|h| h['end'].nil? || h['start'].nil? || h['type'] == 'scheduled'}
                                                                       .map{|h| h['end'] - h['start'] }.sum }.sum, precision: 2 %>
</p>
