.leaves-form{
}
.leave-table {
  width: 100%;
  
  td {
    white-space: nowrap;
    padding: 5px;
    vertical-align: bottom;
    
    &:first-child {
      width: 80px;
      padding-left: 0px;
    }
    
    &:nth-child(2){
      width: 1px;
    }
    
    &:nth-child(4){
      width: 1px;
    }
    
    &:nth-child(5) {
      padding-right: 0px;
      width: 75px;
      text-align: right;
    }
    
  }
  
  .fa{
    cursor: pointer;
  }
}

.datepicker.dropdown-menu{
  z-index: 1031;
}
