<%= render :partial => 'layouts/time' %>
<h3><%= current_user.name %></h3>
<% if current_user.option.hourly? %>
  <div class="punch">
    <div class="hour-slider" 
     data-slider-min="<%= current_user.option.day_start %>" 
     data-slider-max="<%= current_user.option.day_end %>" 
     data-slider-intervals="[]"></div>
  </div>
<% end %>
