<!DOCTYPE html>
<html>
<head>
  <title>SumTimes</title>
  <%= stylesheet_link_tag    "application", "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css", :media => "all" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row" style="margin: 0">
      <%= content_for?(:main_body) ? yield(:main_body) : yield %>
    </div>
  </div>
</body>
</html>
